

body{
    background-color:  #008f39;
}
h1{
    color: white;
    text-align: center;
    
}
.nav-home{
background-color: darkgreen;  
padding: 3px;

}
ul{
     display: flex;
    text-decoration: none;
    
    flex-wrap: wrap;
    
}

.links{
    border-radius: 3px;
   display: inline-block;
    list-style:none ;
    padding: 1px 60px;
border: solid 1px white;
}
.articulos{
    padding: 30px;
    margin: 50px;
    align-items: center;
    background-color: #00bb2d;
    
}
a{
    text-decoration: none;
    color: white;
    
}


.productos{
    
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.img{
    width: 100%;
    max-height: 200px;
    margin-bottom: 20px;
    

}
.img2{
    width: 100%;
    max-height: 250px;
    
}
footer{
    border: solid 1px white;
    margin-top: 20px;
}
.ayudas-base {
    padding: 3px;
    margin-top: 15px;
    background-color: #00bb2d;
}
.ayudas-bosque{
    display: none;
    background-color: #00bb2d;
}
.ayudas-mar {
    display: none;
    background-color: #00bb2d;
}
.siDono{
    display: none;
    background-color: #00bb2d;
    padding: 5px;
}
header{
    margin-bottom: 10px;
    background-color: yellowgreen;
}
p{
    color: white;
}
.reDonar{
    padding: 3px;
    background-color: #00bb2d;
}

    

@media (min-width: 600px) {
    .img{width: 100%;
    }
   

    .articulos{
        width: 100%;
        margin: 120px;
      display: flex;
flex-wrap: wrap;
flex-direction: column;  
padding: 20px;
margin: 10px;
    }
    .footerSection{
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
ul{
        justify-content: space-between;
     }

}



    





@media (min-width: 1024px){

.articulo-base{
    display: flex;
}
    .links{
        
        
         margin: 10px 40px;
        
     }
     ul{
        justify-content: space-between;
     }
     a{
        
         margin: 30px;
         padding: 30px;
     }
     .footerSection{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
}